#content{
    border:2px solid peachpuff;
    margin:auto;
    height:500px;
    width:700px;
    background-color: peachpuff
}
#first{
    background-color: green
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin:auto;
    padding:11px
    
}